body, div, ul, li, img, p, a, h1, h2, h3, input {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-family: "YouYuan","microsoft yahei";
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

html, body {
  position: relative;
  width: 750px;
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
  background: #000;
}

#music_ctrl {
  width: 50px;
  height: 50px;
  position: absolute;
  z-index: 10;
  left: 20px;
  top: 20px;
  background: url(../img/music_btn.png) no-repeat;
  background-size: 50px;
  -webkit-animation: musicPlay 2s linear infinite;
  animation: musicPlay 2s linear infinite;
  z-index: 1000;
}

#music_ctrl.stop {
  background-position-y: -50px;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

@-webkit-keyframes musicPlay {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes musicPlay {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
}

.box_logo {
  width: 370px;
  position: absolute;
  top: 30px;
  left: 25px;
}

.box_logo img {
  float: left;
  margin-right: 8px;
}

.box_logo p {
  color: #017cc2;
  font-size: 19px;
  font-family: "microsoft yahei";
}

.box_logo .big {
  font-size: 24px;
  margin: 17px 0 0;
}

.load {
  display: block;
  background: #70bfff;
  z-index: 10000;
}

.load .box {
  width: 100%;
  height: 100px;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  margin: auto;
}

.load .btn_start {
  display: none;
  width: 361px;
  height: 100px;
  background: #fff;
  border: 2px solid skyblue;
  border-radius: 5px;
  text-align: center;
  font-size: 32px;
  line-height: 91px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 28px;
}

.load .progress {
  font-size: 28px;
  color: #0d3b5f;
  text-align: center;
  font-weight: bold;
}

.container {
  width: 100%;
  height: 100%;
  position: relative;
}

.room {
  width: 100%;
  height: 100%;
  background: url(../img/Room.jpg) center bottom no-repeat;
}

.room .item {
  text-align: center;
  position: absolute;
  -webkit-transition: transform 0.3s;
  transition: transform 0.3s;
}

.room .item .body {
  width: 96%;
  margin-top: 1%;
}

.room .item .btn_resize {
  width: 60px;
  height: 60px;
  background: url(../img/resize.png) no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
  position: absolute;
  top: -30px;
  right: -30px;
  display: none;
}

.room .item .btn_remove {
  width: 60px;
  height: 60px;
  background: url(../img/remove.png) no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
  position: absolute;
  left: -30px;
  bottom: -30px;
  display: none;
}

.room .item.active {
  border: 1px solid dodgerblue;
}

.room .item.active .btn_resize, .room .item.active .btn_remove {
  display: block;
}

.room .item.touch {
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
}

.bottom, .footer, .tip_layer {
  width: 100%;
  height: 215px;
  border-top: 2px solid #fff;
  position: absolute;
  left: 0;
  bottom: 0;
}

.bottom {
  display: none;
  background: #fff;
}

.bottom .text {
  font-size: 36px;
  text-align: center;
  line-height: 215px;
}

.footer {
  background: #d2d1d0;
}

.footer .arrow {
  width: 37px;
  height: 33px;
  background: url(../img/icon_arrow.png) no-repeat;
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  margin: 0 auto;
  -webkit-animation: arrowMove 1s linear infinite;
  animation: arrowMove 1s linear infinite;
}

@-webkit-keyframes arrowMove {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(0, 20px);
    transform: translate(0, 20px);
  }
}

@keyframes arrowMove {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(0, 20px);
    transform: translate(0, 20px);
  }
}

.tab_Layer {
  width: 100%;
  height: 434px;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.tab_Layer.close {
  bottom: -366px;
}

.tab_Layer.close .tab_tools .btn_close {
  display: none;
}

.tab_Layer .btn_camera {
  display: none;
  width: 89px;
  height: 83px;
  background: url(../img/icon_camera.png) no-repeat;
  position: absolute;
  top: -110px;
  right: 40px;
}

.tab_tools {
  width: 100%;
  height: 68px;
  background: #fff;
}

.tab_tools .tab_btn {
  float: left;
  height: 100%;
  font-size: 28px;
  line-height: 68px;
  color: #017cc2;
  padding: 0 24px;
}

.tab_tools .active {
  background-color: #e6e2e2;
}

.tab_tools .btn_close {
  float: right;
  width: 100px;
  height: 100%;
  background: url(../img/icon_arrow2.png) center center no-repeat;
}

.tab_contents {
  width: 100%;
  height: 366px;
  background: #f6f6f6;
  overflow: hidden;
}

.tab_contents .tab_con {
  display: none;
  height: 366px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.tab_contents .tab_con.active {
  display: block;
}

.tab_contents .tab_con li {
  float: left;
  width: 33.333%;
  height: 170px;
  background: url() center center no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}

.pic {
  display: none;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9999;
}

.loading_box {
  width: 220px;
  height: 176px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -110px;
  margin-top: -88px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 12px;
}

.loading_box .icon {
  width: 90px;
  height: 90px;
  margin: 10px auto 2px;
  background-image: url("data:image/svg+xml;charset=utf8, <svg xmlns='http://www.w3.org/2000/svg' width='120' height='120' viewBox='0 0 100 100'><path fill='none' d='M0 0h100v100H0z'></path><rect width='7' height='20' x='46.5' y='40' fill='%23E9E9E9' rx='5' ry='5' transform='translate(0 -30)'></rect><rect width='7' height='20' x='46.5' y='40' fill='%23989697' rx='5' ry='5' transform='rotate(30 105.98 65)'></rect><rect width='7' height='20' x='46.5' y='40' fill='%239B999A' rx='5' ry='5' transform='rotate(60 75.98 65)'></rect><rect width='7' height='20' x='46.5' y='40' fill='%23A3A1A2' rx='5' ry='5' transform='rotate(90 65 65)'></rect><rect width='7' height='20' x='46.5' y='40' fill='%23ABA9AA' rx='5' ry='5' transform='rotate(120 58.66 65)'></rect><rect width='7' height='20' x='46.5' y='40' fill='%23B2B2B2' rx='5' ry='5' transform='rotate(150 54.02 65)'></rect><rect width='7' height='20' x='46.5' y='40' fill='%23BAB8B9' rx='5' ry='5' transform='rotate(180 50 65)'></rect><rect width='7' height='20' x='46.5' y='40' fill='%23C2C0C1' rx='5' ry='5' transform='rotate(-150 45.98 65)'></rect><rect width='7' height='20' x='46.5' y='40' fill='%23CBCBCB' rx='5' ry='5' transform='rotate(-120 41.34 65)'></rect><rect width='7' height='20' x='46.5' y='40' fill='%23D2D2D2' rx='5' ry='5' transform='rotate(-90 35 65)'></rect><rect width='7' height='20' x='46.5' y='40' fill='%23DADADA' rx='5' ry='5' transform='rotate(-60 24.02 65)'></rect><rect width='7' height='20' x='46.5' y='40' fill='%23E2E2E2' rx='5' ry='5' transform='rotate(-30 -5.98 65)'></rect></svg>");
  background-size: 100%;
  -webkit-animation: loadingRotate 1s steps(12, end) infinite;
  animation: loadingRotate 1s steps(12, end) infinite;
}

.loading_box .content {
  color: #fff;
  margin: 0;
  padding: 0 15px 10px;
  text-align: center;
  font-size: 28px;
  margin-top: 16px;
}

@-webkit-keyframes loadingRotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loadingRotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.tip_layer {
  background: #fff;
  z-index: 999999;
  line-height: 215px;
  font-size: 36px;
  text-align: center;
  -webkit-transform: translate(0, 230px);
  transform: translate(0, 230px);
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.tip_layer.show {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
